<!DOCTYPE html>
<html lang="en">
<head>
    <title>FBI Wanted List API</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="react-fetch.css">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
</head>
<body>
    <div id='root'></div>
    <script type='text/babel'>
      const { useState } = React;

      function Sidebar({ term, setterm, results, setresults, item, setitem }) {
          return (
              <header>
                  <h1>FBI Wanted List</h1>
                  <form onSubmit={(e) => {
                      e.preventDefault();
                      fetch(`https://api.fbi.gov/@wanted?pageSize=20&sort_on=publication&sort_order=desc&title=${term}`)
                      .then((r)=>r.json()).then((r)=>{setresults(r);})
                      .catch((error)=>{alert("Search failed, try again.");});
                  }}>
                      <input type="text" value={term} onChange={(e) => setterm(e.target.value)} />
                      <button type="submit">Search</button>
                  </form>
                  <ul>
                    {results && results.items.length > 0 ? results.items.map((person) => (
                            <li key={person.uid} onClick={() => setitem(person)}>{person.title}</li>))
                        : <li>{results ? `${term} name cannot be found in the wanted list. Try someone else.` : "Input any name above"}</li>
                    }
                  </ul>
              </header>
          );
      }

      function Main({item}) {
          return (
              <main>
                  {item ? <h2>{item.title}</h2>:<h2>FBI React & Fetch API</h2>}
                  <div className="criminal-info">
                    {item ? <p>{item.subjects.join(", ")}</p>:<p>Chiril Barba</p>}
                    {item ? <p>Publication Date: {item.publication}</p>:<p>Assignment 6 - Web Development</p>}
                  </div>
                    {item && item.images ? (
                    <img src={item.images[0].original} alt="The Criminal. If no images, FBI API could hide them." />):
                    <img src="https://api.fbi.gov/static/images/fbi.png" alt="The FBI Logo." />}
                    {item ? <p>{item.description}</p>:
                        <p>Put any name in the search and it fetches the most recent criminals assosiated with the inputted term. Inputting nothing will result a list of recent criminals.</p>
                    } 
                    {item && item.caution ? (<div dangerouslySetInnerHTML={{ __html: item.caution }} />):(null)}
                    {item && item.details ? (<div dangerouslySetInnerHTML={{ __html: item.details }} />):(null)}
                    {item && item.warning_message ? <p>Warning: {item.warning_message}</p>:null}
                  <dl>
                      <dt>More Information:</dt>
                      {item ? <dd><a href={item.url}>{item.url}</a></dd>:
                      <dd>* How my fetch works: https://api.fbi.gov/docs#!/Wanted/get_wanted * Official API FBI Site: https://www.fbi.gov/wanted</dd>}
                  </dl>
              </main>
          );
      }

      function App() { 
        const [term, setterm] = useState(""); //Stores the current term from the input
        const [results, setresults] = useState(null); //Stores the recent search results
        const [item, setitem] = useState(null); //Stores the current viewed item
        return (
            <div className="wrapper">
                <Sidebar item={item} setitem={setitem} term={term} setterm={setterm} results={results} setresults={setresults}/>
                <Main item={item}/>
            </div>
        );
      }
      ReactDOM.render(<App />, document.querySelector('#root'));
  </script>
</body>
</html>